# Server
PORT=12306

# Admin
ADMIN_USERNAME=mikanarr
ADMIN_PASSWORD=your_password

# Sonarr
SONARR_API_KEY=your_api_key
SONARR_HOST=https://sonarr.example.com

# Database
DB_PATH=/data/database.sqlite
